<div *ngIf="!pais; else divPais" 
    class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ pais.name}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flag" class="img-thumbnail img-fluid" />
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{ pais.population | number }} personas.
                </li>
                <li class="list-group-item">
                    <strong>Código CCA2</strong> {{ pais.numericCode }}
                </li>
                <li class="list-group-item">
                    <strong>Código CIOC</strong> {{ pais.alpha3Code }}
                </li>
            </ul>
        </div>

    </div>
    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            Alemán: <span class="badge bg-primary mr-2">{{ 
                pais.translations.de }}</span><br>
            Española: <span class="badge bg-primary mr-2"> {{ 
                pais.translations.es }}</span><br>
            Francesa: <span class="badge bg-primary mr-2">{{ 
                pais.translations.fr }}</span><br>
            Japonesa: <span class="badge bg-primary mr-2">{{ 
                pais.translations.ja }}</span><br>
            Italiana: <span class="badge bg-primary mr-2">{{ 
                pais.translations.it }}</span><br>
            Bretón: <span class="badge bg-primary mr-2">{{ 
                pais.translations.br }}</span><br>
            Portugués: <span class="badge bg-primary mr-2">{{ 
                pais.translations.pt }}</span><br>
            Holandes: <span class="badge bg-primary mr-2">{{ 
                pais.translations.nl }}</span><br>
            Croacia: <span class="badge bg-primary mr-2">{{ 
                pais.translations.hr }}</span><br>
            Persa: <span class="badge bg-primary mr-2">{{ 
                pais.translations.fa }}</span><br>
        </div>
    </div>

    <!-- <pre class="mt-5">
                {{ pais | json }}
                </pre> -->

</ng-template>